/* "Hard Reset" com box-sizing */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body {
    font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column; /* Empilha os filhos verticalmente */
  min-height: 100vh; /* Garante que o corpo ocupe a altura total da tela */
}

header {
  /* O header não cresce, tem altura fixa */
  height: 80px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  background-color: #F0F0F0;
  align-items: center;
  justify-content: flex-end;
}

main {
  /* O main cresce para ocupar o espaço que sobrar */
    flex-grow: 1;
    padding: 2rem 0;
}
.navegacao-principal {
    padding: 1rem;
    margin-right: 2rem;
}
.navegacao-principal-linhas {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem; /* Espaçamento entre os itens */
}
.navegacao-principal-linhas li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background-color 0.2s;
}
.navegacao-principal-linhas li a:hover {
    background-color: #E0E0E0; 
}
.navegacao-principal-linhas li a.ativo {
    background-color: #D0D0D0; /* Cor de fundo mais escura (selecionado) */
    color: #333;
    font-weight: 700; /* Mais destacado que o 600 padrão */
}

.botao-sair {
    margin-right: 2rem;
}
.botao-sair img {
    width: 32px;
    height: 32px;
}
.container-principal{
    max-width: 1400px;
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
}
.barra-ferramentas {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.busca{
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.busca-texto{
    border-radius: 6px;
    border: 1px solid #F0F0F0;
    padding: 8px;
}
.botao-pesquisar {
    background-color: #D9D9D9;
    margin-right: 1rem;
    border-radius: 6px;
    border: 1px solid #F0F0F0;
    padding: 0px 5px;
}
.botao-pesquisar img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.botao-nova {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    gap: 5px;
    background-color: #1F883D;
    border: none;
    color: white;
    text-decoration: none;
    padding: 5px 12px;
}
.container-tabela {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.tabela-registros {
    width: 100%;
}
.tabela-registros th, .tabela-registros td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #E0E0E0;
}